<!--<app-top-bar></app-top-bar>-->
<div class="header-image">
  <div class="header-block">
    <div class="header-text">
      <div class="header-text-title">Bestseller</div>
      <p>
        Our company provides electronics products through an online store. You can order phones, laptops, computers, cameras from us. We will always increase our assortment and make our interface convenient for the client. We value high quality products and services.
      </p>
    </div>
  </div>
  <div class="header-img">
<!--      <img src="./assets/imgs//right-home-1.png">-->
    <img position="relative" top="100px" float-left="1000px" width="500px"  src="./assets/images/right-home-1.png">
  </div>
</div>


<app-categories></app-categories>
