<!--&lt;!&ndash;<div *ngIf="!logged">&ndash;&gt;-->
<!--&lt;!&ndash;  <input type="text" [(ngModel)]="username">&ndash;&gt;-->
<!--&lt;!&ndash;  <input type="text" [(ngModel)]="password">&ndash;&gt;-->
<!--&lt;!&ndash;  <button (click)="login()">login</button>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<head>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<!--  </head>-->
<!--<div *ngIf="!logged">-->
<!--&lt;!&ndash;  <input type="text" [(ngModel)]="username">&ndash;&gt;-->
<!--&lt;!&ndash;  <input type="text" [(ngModel)]="password">&ndash;&gt;-->
<!--&lt;!&ndash;  <button (click)="login()">login</button>&ndash;&gt;-->
<!--  <div class="page">-->
<!--      <div class="bestseller" style="position: absolute; top: 10px; left: 550px;">Bestseller</div>-->
<!--  <div class="container">-->
<!--    <div class="left">-->
<!--      <div class="login">Login</div>-->
<!--      <div class="eula"><span><h4>Welcome to Online <br> Electronics Store </h4></span><span><h2>Bestseller!</h2></span></div>-->
<!--    </div>-->
<!--    <div class="right">-->
<!--      <svg viewBox="0 0 320 300">-->
<!--        <defs>-->
<!--          <linearGradient-->
<!--                          inkscape:collect="always"-->
<!--                          id="linearGradient"-->
<!--                          x1="13"-->
<!--                          y1="193.49992"-->
<!--                          x2="307"-->
<!--                          y2="193.49992"-->
<!--                          gradientUnits="userSpaceOnUse">-->
<!--            <stop-->
<!--                  style="stop-color:#ff00ff;"-->
<!--                  offset="0"-->
<!--                  id="stop876" />-->
<!--            <stop-->
<!--                  style="stop-color:#ff0000;"-->
<!--                  offset="1"-->
<!--                  id="stop878" />-->
<!--          </linearGradient>-->
<!--        </defs>-->
<!--        <path d="m 40,120.00016 239.99984,-3.2e-4 c 0,0 24.99263,0.79932 25.00016,35.00016 0.008,34.20084 -25.00016,35 -25.00016,35 h -239.99984 c 0,-0.0205 -25,4.01348 -25,38.5 0,34.48652 25,38.5 25,38.5 h 215 c 0,0 20,-0.99604 20,-25 0,-24.00396 -20,-25 -20,-25 h -190 c 0,0 -20,1.71033 -20,25 0,24.00396 20,25 20,25 h 168.57143" />-->
<!--      </svg>-->
<!--      <div class="form">-->
<!--        <label for="email">Username</label>-->
<!--        <input type="text" id="email" [(ngModel)]="username">-->
<!--        <label for="password">Password</label>-->
<!--        <input type="password" id="password" [(ngModel)]="password">-->
<!--&lt;!&ndash;        <input type="submit" id="submit" value="Submit">&ndash;&gt;-->
<!--        <button id="testbutton" (click)="login()"><span>login</span></button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->

<!--<div *ngIf="logged">-->
<!--  <div class="profile">-->
<!--&lt;!&ndash;    <button (click)="logout()">logout</button>&ndash;&gt;-->
<!--    <button (click)="logout()" type="button" class="btn btn-default btn-sm">-->
<!--          <span class="glyphicon glyphicon-log-out"></span> Log out-->
<!--   </button>-->

<!--&lt;!&ndash;  <div style='float:right; margin-left:30px'>&ndash;&gt;-->
<!--&lt;!&ndash;   <h2>{{username}}</h2>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;  <app-top-bar></app-top-bar>&ndash;&gt;-->
<!--  <app-navigation></app-navigation>-->
<!--&lt;!&ndash;  <app-home></app-home>&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;  <div>&ndash;&gt;-->
<!--&lt;!&ndash;    <router-outlet></router-outlet>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;  <app-footer></app-footer>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->

