<h2 class="about-line">About</h2>
<div class="about-text">
  <p>Bestseller is a leading Kazakhstani company in the production of personal computers, tablets, audio
    players, smartphones and software products. <br> The developers of the company create their products based on
    innovative technologies and unique designs. Like many mobile phone manufacturers,<br> Bestseller has been able
    to establish a special reputation for itself, although today it has already been compared to a cult in the
    electrical goods industry. <br>
    <br>
    Bestseller is currently the most valuable brand in the mobile industry. Until now,
    the company's developers have worked closely with telecommunications <br> companies and operators Vodafone Group,
    Telecom Italia, BT Group, Deutsche Telekom, France Telecom and Telefonica. Bestseller's product portfolio <br> includes:
    equipment for wireless networks, core network equipment, network devices and other well-known mobile new generation
    devices.</p>
</div>

